# Node.js
node_modules/
dist/

# TypeScript
*.tsbuildinfo

# Editor
.vscode/

# Logs
logs/
*.log

# Dependency lock files
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# Build artifacts
build/